{% extends '@!EasyAdmin/page/content.html.twig' %}

{% block main %}

    <h1>Interface d'administration du site d'actualités</h1>
    <p>Développé par:</p>
    <ul>
        <li>Florian Hochart</li>
        <li>Camille Gleen</li>
        <li>Luc Lagerige</li>
        <li>Amadou Diarra</li>
    </ul>

{% endblock %}