{% extends 'base.html.twig' %}

{% block body %}
<h1>Contact Us</h1>
<p>Phone: 123-456-7890</p>
<p>Email: contact@example.com</p>

<form method="post" action="{{ path('submit_contact_form') }}">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name">

    <label for="email">Email:</label>
    <input type="email" id="email" name="email">

    <label for="message">Message:</label>
    <textarea id="message" name="message"></textarea>

    <button type="submit">Send</button>
</form>


{% endblock %}