<!DOCTYPE html>
<html>
    <body>
        {% block body %}
            <h1>User Information</h1>
            <ul>
                <li>Username: {{ user.username }}</li>
                <li>First Name: {{ user.firstname }}</li>
                <li>Last Name: {{ user.lastname }}</li>
                <li>Email: {{ user.email }}</li>

            </ul>
        {% endblock %}
    </body>
</html>
